
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
  font-family: Arial;
}

.card-collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  padding: 1em;
}
